<!-- Register section -->
<div class="color-red row no-margins text-center">
    <div>
        <h2 class="color-cyan bookmark text-light">FAQ</h2>
    </div>
</div>

<section id="faq" class="container content-section text-center color-cyan">
    <div class="row" align="justify">
        <div class="col-md-2">
        </div>
        <div class="col-md-3 text-light">
            <img class="faq-icon" src="img/icon_faq-04.png" alt="Datahack" style="display:block;margin:auto;margin-bottom:1cm;">
            <h1 class="hackathon-title" align="center">What is a hackathon?</h1>
            <div class="left-text-column ">
            <p align="justify">
            A hackathon is an event, usually lasting several days, where a large number of developers gather to work together on various computer programming projects.
            </p>
            </div>
        </div>
        <div class="col-md-2 text-light">
            <img class="faq-icon" src="img/icon_faq-04.png" alt="Datahack" style="display:block;margin:auto;margin-bottom:1cm;">
            <h1 class="when-title" align="center">When is DataHack?</h1>
            <div class="left-text-column ">
            <p align="justify">
            This year’s event will take place on November 25th – 27th, 2015. The event will start on Wednesday, November 25th afternoon and run until Friday, November 27th afternoon. A notice will be given on exact times.
            </p>
            </div>
        </div>
        <div class="col-md-3 text-light">
            <img class="faq-icon" src="img/icon_faq-04.png" alt="Location" style="display:block;margin:auto;margin-bottom:1cm;">
            <h1 class="about-title" align="center">What should I bring?</h1>
            <div class="middle-text-column">
            <p align="justify">
            A laptop and a charger. It’s also a good idea to bring a sleeping bag/blanket/pillow. We take care of the rest.
            </p>
            </div>
        <div class="col-md-2">
        </div>
        <br><br><br>
      </div>
    </div>
        <div class="row" align="justify">
            <div class="col-md-2">
            </div>
            <div class="col-md-3 text-light">
                <img class="faq-icon" src="img/icon_faq-04.png" alt="Date" style="display:block;margin:auto;margin-bottom:1cm;">
                <h1 class="pay-title" align="center">Do I need to pay?</h1>
                <div class="left-text-column ">
                <p align="justify">
                No, DataHack is totally free.
                </p>
                </div>
            </div>
            <div class="col-md-2 text-light">
                <img class="faq-icon" src="img/icon_faq-04.png" alt="Date" style="display:block;margin:auto;margin-bottom:1cm;">
                <h1 class="judge-title" align="center">Who are the judges?</h1>
                <div class="left-text-column ">
                <p align="justify">
                We are currently in the process of determining judges. An official notice will be given at a later date.
                </p>
                </div>
            </div>
            <div class="col-md-3 text-light">
                <img class="faq-icon" src="img/icon_faq-04.png" alt="Participants" style="display:block;margin:auto;margin-bottom:1cm;">
                <h1 class="teen-title" align="center">Are teenagers allowed to participate?</h1>
                <div class="middle-text-column">
                <p align="justify">
                Unfortunately, due to insurance issues, participation is limited to ages 18 and above.
                </p>
                </div>
            <div class="col-md-2">
            </div>
            <br><br><br>
          </div>
        </div>

</section>
