<!-- Register section -->
<div class="color-cyan row no-margins text-center">
    <div>
        <h2 class="color-blue bookmark text-dark">Sponsors</h2>
    </div>
</div>
<section id="sponsors" class="container content-section text-center color-blue">
    <div class="row" align="justify">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-dark">
          <div class="horizontalgap" style="width:130px"></div> <font size="5"><b>Co-hosted by</b></font><br>
            <img class="ebay-logo" src="img/logos/logo_ebay.png" alt="ebay" style="display:block;margin:auto;margin-bottom:0;">
            <br><br>
        <div class="col-md-3"></div>
      </div>
    <div class="row" align="justify">
        <div class="col-md-12 text-center">
            <img class="ebay-logo" src="img/logos/line.png" alt="e" style="align:center; display:inline;margin:auto;margin-bottom:1cm;">
      </div>
    </div>
    <div class="row" align="justify">
        <div class="col-md-1"></div>
        <div class="col-md-4 text-light">
            <img class="outbrain-logo" src="img/logos/logo_outbrain.png" alt="Outbrain" style="display:block;margin:auto;margin-bottom:1cm;">
        </div>
            <div class="col-md-2 text-light">
                    <img class="first-prize-icon" src="img/logos/logo_final.png" alt="Final" style="display:block;margin:auto;margin-bottom:1cm;">
            </div>
        <div class="col-md-4 text-light">
            <img class="similarweb-logo" src="img/logos/logo_similarweb.png" alt="SimilarWeb" style="display:block;margin:auto;margin-bottom:1cm;">
            <br><br>
        <div class="col-md-1"></div>
      </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-2"></div>
        <div class="text-center col-md-8">
          <hr class="divider" style="border-color: #CCCCCC;"/>
        </div>
        <div class="col-md-2"></div>
    </div> -->
    <div class="row" align="justify">
        <div class="col-md-3">
        </div>
        <div class="col-md-3 text-light">
            <img class="EMC-logo" src="img/logos/logo_neura.png" alt="Neura" style="display:block;margin:auto;margin-bottom:1cm;">
            <br><br>
        </div>
        <div class="col-md-3 text-light">
            <img class="EMC-logo" src="img/logos/logo_emc.png" alt="EMC" style="display:block;margin:auto;margin-bottom:1cm;">
            <br><br>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-2"></div>
        <div class="text-center col-md-8">
          <hr class="divider" style="border-color: #CCCCCC;"/>
        </div>
        <div class="col-md-2"></div>
    </div> -->
    <div class="row" align="justify">
        <div class="col-md-3"></div>
        <div class="col-md-2 text-light">
            <img class="Dato-logo" src="img/logos/logo_dato.png" alt="Dato" style="display:block;margin:auto;margin-bottom:1cm;">
              <br><br><br>
        </div>
        <div class="col-md-2 text-light">
            <img class="Google-logo" src="img/logos/logo_google.png" alt="Google" style="display:block;margin:auto;margin-bottom:1cm;">
              <br><br><br>
        </div>
        <div class="col-md-2 text-light">
            <img class="IBM-logo" src="img/logos/logo_ibm.png" alt="IBM" style="display:block;margin:auto;margin-bottom:1cm;">
              <br><br><br>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="text-center col-md-8">
          <hr class="divider" style="border-color: #CCCCCC;"/>
          <br><br><br>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row" align="justify">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-dark">
            <h1 class="partners-title" align="center">Partners</h1>
            <br><br><br>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row" align="justify">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="col-md-3 text-light">
              <img class="uni-logo" src="img/logos/logo_uni.png" alt="HUJI" style="display:block;margin:auto;margin-bottom:1cm;">
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-4 text-light">
              <img class="harli-logo" src="img/logos/logo_harli.png" alt="Harli" style="display:block;margin:auto;margin-bottom:1cm;">
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3 text-light">
              <img class="sadna-logo" src="img/logos/logo_sadna.png" alt="Sadna" style="display:block;margin:auto;margin-bottom:1cm;">
          </div>
        </div>
       <div class="col-md-1"></div>
    </div>
    <div class="row" align="justify">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="col-md-3 text-light">
              <img class="madeinjlm-logo" src="img/logos/logo_jlm.png" alt="MadeInJLM" style="display:block;margin:auto;margin-bottom:1cm;">
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-4 text-light">
            <div class="container">
              <img class="geektime-logo" src="img/logos/logo_geektime.png" alt="Geektime" style="display:block;margin:auto;margin-bottom:1cm;">
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3 text-light">
            <div class="container">
              <img class="siftech-logo" src="img/logos/logo_siftech.png" alt="Siftech" style="display:block;margin:auto;margin-bottom:1cm;">
            </div>
          </div>
       </div>
       <div class="col-md-1"></div>
    </div>
</section>
