<!-- Register section -->
<div class="color-white row no-margins text-center">
    <div>
        <h2 class="color-navyblue bookmark text-light">Team</h2>
    </div>
</div>
<section id="team" class="container content-section text-center color-navyblue">
    <div class="row" align="justify">
        <div class="col-md-4"></div>
        <div class="col-md-2 text-light">
            <img class="img-circle" src="img/team/inbar.jpg" alt="Inbar" style="display:block;margin:auto;margin-bottom:1cm;">
            <h2 class="inbar-name" align="center">Inbar Naor</h2>
            <h3 class="inbar-title" align="center">Managing Officer</h3>
        </div>
        <div class="col-md-2 text-light">
            <img class="img-circle" src="img/team/shay.jpg" alt="Shay" style="display:block;margin:auto;margin-bottom:1cm;">
            <h2 class="shay-name" align="center">Shay Palachy</h2>
            <h3 class="shay-title" align="center">Managing Officer</h3>
        </div>
        <div class="col-md-4"> <br><br><br> </div>
    </div>
    <div class="row" align="justify">
        <div class="col-md-2"></div>
        <div class="col-md-2 text-light">
            <img class="img-circle" src="img/team/dima.jpg" alt="Dima" style="display:block;margin:auto;margin-bottom:1cm;">
            <h2 class="dima-name" align="center">Dima Yarovinsky</h2>
            <h3 class="dima-title" align="center">Marketing Officer</h3>
        </div>
        <div class="col-md-2 text-light">
            <img class="img-circle" src="img/team/gal.jpg" alt="Gal" style="display:block;margin:auto;margin-bottom:1cm;">
            <h2 class="gal-name" align="center">Gal Yeshurun</h2>
            <h3 class="gal-title" align="center">Finance Officer</h3>
        </div>
        <div class="col-md-2 text-light">
            <img class="img-circle" src="img/team/noga.jpg" alt="Noga" style="display:block;margin:auto;margin-bottom:1cm;">
            <h2 class="noga-name" align="center">Noga Rotman</h2>
            <h3 class="noga-title" align="center">Logistics Officer</h3>
        </div>
        <div class="col-md-2 text-light">
            <img class="img-circle" src="img/team/ido.jpg" alt="Ido" style="display:block;margin:auto;margin-bottom:1cm;">
            <h2 class="ido-name" align="center">Ido Ivri</h2>
            <h3 class="ido-title" align="center">Technology Officer</h3>
        </div>
        <div class="col-md-2"> <br><br><br> </div>
    </div>
    <div class="row" align="justify">
        <div class="col-md-4"></div>
        <div class="col-md-2 text-light">
            <img class="img-circle" src="img/team/dana.jpg" alt="Dana" style="display:block;margin:auto;margin-bottom:1cm;">
            <h2 class="dana-name" align="center">Dana Baril</h2>
            <h3 class="dana-title" align="center">Registration Officer</h3>
        </div>
        <div class="col-md-2 text-light">
            <img class="img-circle" src="img/team/dafna.jpg" alt="Dafna" style="display:block;margin:auto;margin-bottom:1cm;">
            <h2 class="dafna-name" align="center">Dafna Rosenblum</h2>
            <h3 class="dafna-title" align="center">Students Officer</h3>
        </div>
        <div class="col-md-4"> <br><br><br> </div>
    </div>
    <div class="row" align="justify">
        <div class="col-md-3"></div>
        <div class="col-md-2 text-light">
            <img class="img-circle" src="img/team/asaf.jpg" alt="asaf" style="display:block;margin:auto;margin-bottom:1cm;">
            <h2 class="asaf-name" align="center">Asaf Valdersky</h2>
            <h3 class="asaf-title" align="center">Data Team</h3>
        </div>
        <div class="col-md-2 text-light">
            <img class="img-circle" src="img/team/stav.jpg" alt="stav" style="display:block;margin:auto;margin-bottom:1cm;">
            <h2 class="stav-name" align="center">Stav Hertz</h2>
            <h3 class="stav-title" align="center">Data Team</h3>
        </div>
        <div class="col-md-2 text-light">
            <img class="img-circle" src="img/team/nitzan.jpg" alt="nitzan" style="display:block;margin:auto;margin-bottom:1cm;">
            <h2 class="nitzan-name" align="center">Nitzan Gruberman</h2>
            <h3 class="nitzan-title" align="center">Data Team</h3>
        </div>
        <div class="col-md-3"> <br><br><br> </div>
    </div>
</section>
